.fl {
  float: left;
}
.fr {
  float: right;
}
.pa {
  position: absolute;
}
.pr {
  position: relative;
}
.bs {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
dl,
dd,
form {
  margin: 0;
}
h3,
h4 {
  font-weight: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input {
  margin: 0;
  padding: 0;
  border: none;
}
a {
  text-decoration: none;
  color: #000;
}
html {
  overflow: hidden;
}
body {
  font-size: 12px;
  font-family: "微软雅黑";
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.ico {
  background-image: url(../img/page-home-kie161104165457.png);
}
.icon {
  background-image: url(../img/page-home-delay-kie161107101436.png);
}
.filebg {
  background-image: url(../img/icon-nofile.png);
  width: 162px;
  height: 114px;
}
.recyclebg {
  background-image: url(../img/icon-notrash.png);
  width: 150px;
  height: 150px;
}
.wrapBox {
  width: 100%;
  height: 100%;
  min-width: 1024px;
  background-color: #ffffff;
}
/*头部开始*/
.header {
  width: 100%;
  height: 60px;
  background-color: #f5f6f9;
  border-bottom: 1px solid #e6e7ec;
}
.header .nav,
.header .navigation {
  width: 100%;
  padding-top: 12px;
}
.header .nav {
  position: relative;
}
.header .navigation .logo-bg {
  background-position: -824px -446px;
}
.navigation {
  display: none;
  height: 60px;
  line-height: 38px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3b93ff;
  color: #fff;
  box-sizing: border-box;
  z-index: 100;
}
.navigation .text {
  cursor: pointer;
  font-size: 12px;
  float: left;
}
.navigation .cancel {
  margin-left: 94px;
}
.navigation .cancel:hover {
  text-decoration: underline;
}
.navigation .selected {
  margin-left: 346px;
  line-height: 40px;
  font-size: 18px;
}
.navigation .lists {
  height: 60px;
  margin-right: 15px;
  position: relative;
}
.navigation li {
  margin-right: 35px;
}
.navigation li .ico {
  margin-right: 10px;
  margin-top: 12px;
  width: 18px;
  height: 17px;
}
.navigation li span {
  float: left;
}
.navigation .downloadbg {
  background-position: -619px -850px;
}
.navigation .sharebg {
  background-position: -600px -850px;
}
.navigation .movebg {
  background-position: -695px -850px;
}
.navigation .renamebg {
  background-position: -734px -850px;
}
.navigation .deletebg {
  background-position: -696px -850px;
}
.navigation .restorebg {
  background-position: -791px -850px;
}
.navigation .obliteratebg {
  background-position: -829px -849px;
}
.navigation #restore,
.navigation #obliterate {
  display: none;
}
.logo {
  width: 145px;
  height: 100%;
}
.header .logo-bg {
  width: 92px;
  height: 31px;
  display: block;
  margin-left: 50px;
  text-indent: -9999px;
  background-position: -420px -512px;
}
.header .management {
  position: absolute;
  left: 154px;
  top: 12px;
  bottom: 0;
  right: 0;
  margin-left: 95px;
  width: 300px;
}
.header .file {
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  padding: 5px 6px;
  border: 1px solid #dadce3;
  box-sizing: border-box;
  border-radius: 50%;
}
.header .file .ico {
  width: 100%;
  height: 100%;
  background-position: -705px -483px;
}
.header .search-box {
  margin-left: 22px;
  width: 160px;
  height: 36px;
  position: relative;
  background-color: #ffffff;
  border: 1px solid #d5d7df;
  border-radius: 25px;
}
.header .search-box .delete-ico {
  width: 12px;
  height: 12px;
  position: absolute;
  background-position: -767px -490px;
  top: 12px;
  right: 12px;
  display: none;
}
.header .search-box .search-ico {
  width: 18px;
  height: 18px;
  background-position: -883px -487px;
  margin: 8px 0 0 13px;
}
.header .searchLable,
.header .search {
  position: absolute;
  top: 8px;
  left: 37px;
}
.header .searchLable {
  z-index: 99;
  color: #d4d7d7;
  font-size: 14px;
}
.header .search {
  width: 100px;
  height: 24px;
  transition: 2s;
}
.header .search-box:hover {
  width: 240px;
  border-color: #548bcb;
}
.header .search-box:hover .search-ico {
  background-position: -833px -487px;
}
.header .search-box:hover .searchLable {
  display: none;
}
.header .search-box:hover .delete-ico {
  display: block;
}
.header .search-box:hover .search {
  width: 170px;
}
.header .array-box {
  position: absolute;
  width: 214px;
  top: 12px;
  margin-left: 694px;
}
.header .array-box .view {
  margin-right: 20px;
}
.header .array {
  width: 97px;
  height: 36px;
  background-color: #ffffff;
  border: 1px solid #d5d7df;
  border-radius: 25px;
  box-sizing: border-box;
  cursor: pointer;
}
.header .array .box {
  width: 47px;
  height: 34px;
}
.header .array .left {
  border-right: 1px solid #d5d7df;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.header .array .right {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.header .array .ico {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 8px 15px 8px 14px;
}
.header .array .lbico {
  background-position: -962px -745px;
}
.header .array .sltico {
  background-position: -962px -721px;
}
.header .array .zmico {
  background-position: -921px -450px;
}
.header .array .timeico {
  background-position: -683px -487px;
}
.header .array .bg {
  background-color: #e7e7eb;
}
.header .add {
  width: 144px;
  height: 36px;
  position: relative;
  margin-right: 50px;
}
.header .add .filebg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.header .add .bg {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-position: -680px -447px;
}
.header .type {
  width: 214px;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0 0 3px 0 #eee;
  border: 1px solid #cdced0;
  position: absolute;
  top: 48px;
  right: -30px;
  display: none;
  z-index: 200;
}
.header .type .arrow {
  border-bottom-color: #dddddd;
  top: -17px;
  right: 98px;
}
.header .type .arrow .bj {
  border-bottom-color: #ffffff;
  bottom: -9px;
  right: -7px;
}
.header .type .lists {
  width: 100%;
  height: 100%;
}
.header .type .list {
  position: relative;
  width: 106px;
  height: 134px;
  padding-top: 34px;
  box-sizing: border-box;
  text-align: center;
}
.header .type .list .icon {
  width: 50px;
  height: 40px;
  margin: 0 31px;
}
.header .type .list .text {
  display: block;
  line-height: 58px;
  height: 58px;
  font-size: 12px;
}
.header .type .list .scwj {
  background-position: -168px -107px;
}
.header .type .list .scwjj {
  background-position: -219px -107px;
}
.header .type .list .cjwjj {
  background-position: -168px -158px;
}
.header .type .list .tjbj {
  background-position: -219px -5px;
}
.header .type .list:hover {
  background-color: #f4f8ff;
}
.header .add.hover .ico {
  opacity: 1;
}
.header .add.hover .type {
  display: block;
}
/*头部结束*/
/*内容部分开始*/
.wrapcontent {
  min-width: 1024px;
  overflow: hidden;
  left: 0;
  top: 61px;
  bottom: 0;
  right: 0;
  position: absolute;
}
.wrapcontent .nav {
  width: 201px;
  height: 100%;
  border-right: 1px solid #e6e7ec;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
}
.wrapcontent .contentbox {
  position: absolute;
  left: 201px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 180;
}
.wrapcontent .username {
  width: 200px;
  height: 90px;
  position: absolute;
}
.wrapcontent .username .portrait {
  width: 56px;
  height: 56px;
  margin: 29px 72px 5px;
  cursor: pointer;
}
.wrapcontent .username .userinfo {
  display: none;
  width: 320px;
  height: 291px;
  box-sizing: border-box;
  border: 1px solid #4997d9;
  position: absolute;
  background-color: #ffffff;
  left: 20px;
  top: 99px;
  z-index: 300;
}
.wrapcontent .username.hover .userinfo {
  display: block;
}
.wrapcontent .userinfo .arrow {
  border-bottom-color: #5899dd;
  top: -17px;
  left: 73px;
}
.wrapcontent .userinfo .arrow .bj {
  border-bottom-color: #51a5ff;
  bottom: -9px;
  right: -7px;
}
.wrapcontent .news {
  padding: 15px 0 16px;
}
.wrapcontent .news .member {
  width: 94px;
  height: 30px;
  margin-left: 53px;
  margin-bottom: 20px;
  line-height: 28px;
}
.wrapcontent .navcontent {
  margin-top: 90px;
}
.wrapcontent .navcontent span,
.wrapcontent .navcontent a {
  display: inline-block;
  vertical-align: middle;
}
.wrapcontent .navcontent .lists {
  margin-bottom: 16px;
}
.wrapcontent .navcontent .lists dt {
  margin-left: 64px;
  height: 26px;
  line-height: 26px;
}
.wrapcontent .navcontent .list {
  border-left: 4px solid #fff;
  width: 100%;
  height: 36px;
  line-height: 32px;
  padding-top: 4px;
  box-sizing: border-box;
  cursor: pointer;
  color: #020202;
}
.wrapcontent .navcontent .list:hover {
  border-left-color: #f4f8ff;
  background-color: #f4f8ff;
}
.wrapcontent .navcontent .list.checked {
  border-left-color: #4293ff;
  background-color: #edf3ff;
  color: #2083e7;
}
.wrapcontent .navcontent .list.checked .lately {
  background-position: -962px -895px;
}
.wrapcontent .navcontent .list.checked .all {
  background-position: -962px -845px;
}
.wrapcontent .navcontent .list.checked .doc {
  background-position: -962px -795px;
}
.wrapcontent .navcontent .list.checked .image {
  background-position: -903px -345px;
}
.wrapcontent .navcontent .list.checked .video {
  background-position: -908px -487px;
}
.wrapcontent .navcontent .list.checked .note {
  background-position: -517px -515px;
}
.wrapcontent .navcontent .list.checked .music {
  background-position: -569px -515px;
}
.wrapcontent .navcontent .list.checked .time {
  background-position: -962px -269px;
}
.wrapcontent .navcontent .list.checked .clipboard {
  background-position: -962px -620px;
}
.wrapcontent .navcontent .list.checked .share {
  background-position: -962px -670px;
}
.wrapcontent .navcontent .list.checked .recycle {
  background-position: -962px -770px;
}
.wrapcontent .navcontent .ico {
  width: 18px;
  height: 18px;
  margin: 0 7px 0 59px;
}
.wrapcontent .lately {
  background-position: -921px -450px;
}
.wrapcontent .all {
  background-position: -962px -870px;
}
.wrapcontent .doc {
  background-position: -962px -820px;
}
.wrapcontent .image {
  background-position: -867px -515px;
}
.wrapcontent .video {
  background-position: -928px -345px;
}
.wrapcontent .note {
  background-position: -933px -487px;
}
.wrapcontent .music {
  background-position: -544px -515px;
  background-position: ;
}
.wrapcontent .time {
  background-position: -594px -515px;
}
.wrapcontent .clipboard {
  background-position: -962px -596px;
}
.wrapcontent .share {
  background-position: -962px -645px;
}
.wrapcontent .recycle {
  background-position: -962px -695px;
}
/*左侧用户信息开始*/
.username .info {
  width: 100%;
  height: 112px;
  padding-left: 30px;
  padding-top: 17px;
  box-sizing: border-box;
  border-bottom: 1px solid #7bb0da;
  background: url(../img/2.gif) repeat-x;
}
.username .info .user {
  font-size: 16px;
  color: #fff;
  height: 36px;
  line-height: 36px;
}
.username .info .off {
  padding: 11px 34px 13px 0;
  cursor: pointer;
  opacity: .9;
}
.username .info .off:hover {
  opacity: 1;
}
.username .info .icon {
  width: 15px;
  height: 12px;
  background-position: -161px -234px;
}
.username .members {
  width: 100%;
  height: 69px;
  padding: 20px 0;
  padding-left: 30px;
  border-bottom: 1px solid #cdccd2;
  box-sizing: border-box;
  cursor: pointer;
}
.username .members .text {
  color: #5e5e5e;
  padding-top: 2px;
  line-height: 26px;
  height: 28px;
}
.username .members .member {
  width: 92px;
  height: 28px;
  padding-top: 4px;
  line-height: 22px;
  margin-left: 40px;
}
.username .members:hover,
.username .list:hover {
  background-color: #f2f9ff;
}
.username .help {
  width: 100%;
  padding: 18px 0;
}
.username .help .list {
  height: 36px;
  line-height: 36px;
  padding-left: 30px;
  color: #06090e;
}
/*左侧用户信息结束*/
/*右侧内容开始*/
.contentbox .crumbs {
  height: 60px;
  margin: 0 50px 0 40px;
  box-sizing: border-box;
  position: absolute;
}
.contentbox .crumbs .lists {
  padding-top: 3px;
}
.contentbox .crumbs.slt {
  border-bottom: 1px solid #fff;
}
.contentbox .crumbs.lb {
  border-bottom: 1px solid #f1f2f4;
}
.contentbox .checkAll {
  padding: 23px 0 18px 11px;
}
.contentbox .checkAll .ico {
  width: 18px;
  height: 18px;
  background-position: -752px -849px;
  margin-right: 19px;
}
.contentbox .checkAll .ico:hover {
  background-position: -812px -824px;
}
.contentbox .checkAll .ico.checked {
  background-position: -904px -849px;
}
.contentbox .checkAll .bg {
  width: 1px;
  height: 16px;
  background-color: #e6e7ec;
}
.contentbox .clearAll {
  width: 90px;
  height: 36px;
  box-sizing: border-box;
  margin-top: 12px;
  border: 1px solid #d5d7df;
  border-radius: 25px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  display: none;
}
.contentbox .clearAll:hover {
  background-color: #f9fafb;
}
.contentbox .checkAll,
.contentbox #crumbsbox {
  display: block;
}
.contentbox .contentlist.lb {
  padding: 60px 0 0;
}
.contentbox .contentlist.slt {
  padding: 60px 40px 0 40px;
}
/*面包屑导航开始*/
.crumbs .list {
  float: left;
  height: 56px;
  line-height: 56px;
  padding-left: 10px;
}
.crumbs .list span {
  float: left;
}
.crumbs .list .ico {
  width: 7px;
  height: 12px;
  margin: 23px 15px 0 0;
  background-position: -992px -121px;
}
.crumbs .text {
  color: #4887cc;
  cursor: pointer;
}
.crumbs .text:hover {
  text-decoration: underline;
}
/*面包屑导航结束*/
/*文件内容开始*/
.contentlist {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  position: relative;
}
.contentlist .contentbg {
  margin: auto;
  text-align: center;
}
.contentlist .lists {
  width: 100%;
}
.contentlist .content-box,
.contentlist .rests-box {
  min-width: 860px;
  margin-right: -17px;
}
.contentlist .list {
  height: 100%;
  overflow: auto;
  display: none;
}
.contentlist .input {
  width: 120px;
  height: 20px;
}
.contentlist .box {
  cursor: pointer;
}
.contentlist .box.slt {
  float: left;
  width: 196px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #d5d7df;
  border-radius: 2px;
  box-shadow: 0 2px 2px #f3f4f5;
  margin: 2px 19px 19px 2px;
  position: relative;
}
.contentlist .box.slt .folder {
  width: 32px;
  height: 28px;
  margin: 11px 18px 9px 11px;
  background-position: -86px -885px;
}
.contentlist .box.slt .text {
  height: 48px;
  margin-top: 15px;
  line-height: 20px;
}
.contentlist .box.slt .input {
  margin: 15px 0;
}
.contentlist .box.slt .check {
  width: 24px;
  height: 24px;
  position: absolute;
  background-position: -639px -512px;
  top: -2px;
  right: -2px;
  display: none;
}
.contentlist .box.slt .check.checked {
  background-position: -614px -512px;
}
.contentlist .box.slt:hover,
.contentlist .box.slt.hover {
  margin: 0 17px 21px 0;
  width: 200px;
  border: 2px solid #379afd;
}
.contentlist .box.slt:hover .folder,
.contentlist .box.slt.hover .folder {
  margin: 12px 18px 6px 12px;
}
.contentlist .box.slt:hover .text,
.contentlist .box.slt.hover .text {
  height: 46px;
  margin-top: 16px;
}
.contentlist .box.slt:hover .input,
.contentlist .box.slt.hover .input {
  margin-top: 16px;
}
.contentlist .box.slt:hover .check,
.contentlist .box.slt.hover .check {
  display: block;
}
.contentlist .box.rests {
  width: 198px;
  height: 193px;
  box-sizing: border-box;
  margin: 0 17px 15px 0;
  border: 2px solid #fff;
  box-shadow: none;
}
.contentlist .box.rests .top {
  width: 100%;
  height: 149px;
  box-sizing: border-box;
  border: 1px solid #d4d5d9;
  overflow: hidden;
}
.contentlist .box.rests .top .ico {
  width: 100px;
  height: 76px;
  margin: 36px 47px;
}
.contentlist .box.rests .top .ico.audio {
  background-position: -205px -588px;
}
.contentlist .box.rests .top .ico.video {
  background-position: -406px -588px;
}
.contentlist .box.rests .img {
  display: inline-block;
  max-width: 100%;
  min-height: 100%;
}
.contentlist .box.rests .input {
  margin: 10px 0 0 0;
}
.contentlist .box.rests .bottom {
  width: 100%;
  height: 40px;
}
.contentlist .box.rests .bottom .ico {
  width: 18px;
  height: 18px;
  margin: 12px 12px 0 10px;
}
.contentlist .box.rests .bottom .text {
  width: 144px;
  height: 100%;
  line-height: 40px;
  margin-top: 0;
}
.contentlist .box.rests:hover,
.contentlist .box.rests.hover {
  margin: 0 15px 15px 0;
  border-color: #399ef8;
}
.contentlist .box.rests:hover .top,
.contentlist .box.rests.hover .top {
  border: none;
  border-bottom: 1px solid #d4d5d9;
}
.contentlist .box.rests:hover .check,
.contentlist .box.rests.hover .check {
  top: -2px;
  right: -2px;
}
.contentlist .box.rests:hover .bottom,
.contentlist .box.rests.hover .bottom {
  width: 100%;
  height: 40px;
}
.contentlist .box.lb {
  width: 100%;
  height: 56px;
  position: relative;
  padding-left: 39px;
  box-sizing: border-box;
}
.contentlist .box.lb .top {
  height: 55px;
}
.contentlist .box.lb .check {
  width: 18px;
  height: 18px;
  margin: 21px 0 16px 0;
  background-position: -752px -849px;
}
.contentlist .box.lb .input {
  margin-top: 18px;
}
.contentlist .box.lb .check:hover {
  background-position: -812px -824px;
}
.contentlist .box.lb .check.checked {
  background-position: -904px -849px;
}
.contentlist .box.lb .folder,
.contentlist .box.lb .image,
.contentlist .box.lb .audio,
.contentlist .box.lb .video {
  width: 40px;
  height: 40px;
  margin: 8px 15px 0 9px;
}
.contentlist .box.lb .folder .ico,
.contentlist .box.lb .audio .ico,
.contentlist .box.lb .video .ico {
  width: 32px;
  height: 32px;
  margin: 4px;
}
.contentlist .box.lb .folder .ico {
  background-position: -86px -881px;
}
.contentlist .box.lb .audio .ico {
  background-position: -496px -883px;
}
.contentlist .box.lb .video .ico {
  background-position: -578px -883px;
}
.contentlist .box.lb .image {
  overflow: hidden;
}
.contentlist .box.lb .image img {
  max-width: 100%;
  min-height: 100%;
}
.contentlist .box.lb .text,
.contentlist .box.lb .time {
  height: 52px;
  padding-top: 3px;
  line-height: 52px;
}
.contentlist .box.lb .time {
  padding-right: 41px;
  font-size: 10px;
  color: #74787c;
}
.contentlist .box.lb .foot {
  height: 1px;
  background-color: #f1f2f4;
  margin: 0 36px;
}
.contentlist .box.lb .choice {
  position: absolute;
  top: 3px;
  right: 100px;
  margin-right: 130px;
  display: none;
}
.contentlist .box.lb li {
  float: left;
  width: 18px;
  height: 18px;
  margin-left: 28px;
  margin-top: 20px;
}
.contentlist .box.lb .sharebg {
  background-position: -962px -645px;
}
.contentlist .box.lb .sharebg:hover {
  background-position: -962px -670px;
}
.contentlist .box.lb .downloadbg {
  background-position: -962px -320px;
}
.contentlist .box.lb .downloadbg:hover {
  background-position: -962px -345px;
}
.contentlist .box.lb .movebg {
  background-position: -962px -370px;
}
.contentlist .box.lb .movebg:hover {
  background-position: -962px -395px;
}
.contentlist .box.lb .deletebg {
  background-position: -962px -695px;
}
.contentlist .box.lb .deletebg:hover {
  background-position: -962px -420px;
}
.contentlist .box.lb .renamebg {
  background-position: -962px -445px;
}
.contentlist .box.lb .renamebg:hover {
  background-position: -962px -470px;
}
.contentlist .box.lb .restorebg {
  background-position: -717px -516px;
}
.contentlist .box.lb .restorebg:hover {
  background-position: -742px -516px;
}
.contentlist .box.lb .obliteratebg {
  background-position: -767px -516px;
}
.contentlist .box.lb .obliteratebg:hover {
  background-position: -792px -516px;
}
.contentlist .box.lb .sharebg,
.contentlist .box.lb .downloadbg,
.contentlist .box.lb .movebg,
.contentlist .box.lb .deletebg,
.contentlist .box.lb .renamebg {
  display: block;
}
.contentlist .box.lb .restorebg,
.contentlist .box.lb .obliteratebg {
  display: none;
}
.contentlist .box.lb:hover,
.contentlist .box.lb.hover {
  background-color: #f3f9ff;
}
.contentlist .box.lb:hover .choice {
  display: block;
}
.contentlist .roll-box {
  width: 20px;
  height: 100%;
  background-color: #c3c3c3;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.contentlist .roll {
  width: 100%;
  height: 50px;
  background-color: #dfd7d7;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 8px;
}
/*文件内容结束*/
/*右侧部分结束*/
/*hover效果*/
.header .file:hover {
  border-color: #548bcb;
}
.header .file:hover .ico {
  background-position: -780px -483px;
}
/*弹窗小箭头*/
.arrow {
  width: 0;
  height: 0;
  position: absolute;
  border: 8px solid rgba(221, 221, 221, 0);
}
.arrow .bj {
  width: 0;
  height: 0;
  position: absolute;
  border: 7px solid rgba(255, 255, 255, 0);
}
.member {
  border: 1px solid #00a4ff;
  border-radius: 25px;
  box-sizing: border-box;
  text-align: center;
  color: #00a4ff;
  cursor: pointer;
}
.member:hover {
  background-color: #3895fd;
  color: #fff;
}
/*弹出层内容*/
.tipsbg,
.progress {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  background-color: rgba(255, 255, 255, 0.5);
}
.tipsbg {
  display: none;
}
.tipsbox {
  margin: auto;
  position: absolute;
  width: 452px;
  border: 1px solid #cbcbcb;
  box-sizing: border-box;
  box-shadow: 0 0 2px #ececec;
  background-color: #ffffff;
}
.tipsbox .head {
  width: 100%;
  height: 61px;
  box-sizing: border-box;
  border-bottom: 1px solid #dcdcdc;
  padding: 0 18px;
  cursor: all-scroll;
}
.tipsbox .head .ico {
  background-position: -767px -490px;
  width: 12px;
  height: 12px;
  margin-top: 23px;
  cursor: pointer;
  transition: 1s;
}
.tipsbox .head .ico:hover {
  transform: rotate(360deg);
}
.tipsbox .head .title {
  font-size: 18px;
  height: 60px;
  line-height: 60px;
  font-weight: normal;
}
.tipsbox .box {
  padding: 28px 24px 0 24px;
}
.tipsbox .top .ico {
  width: 32px;
  height: 32px;
  margin-left: 16px;
}
.tipsbox .ico.file {
  background-position: -86px -883px;
}
.tipsbox .ico.image {
  background-position: -849px -782px;
}
.tipsbox .ico.audio {
  background-position: -496px -883px;
}
.tipsbox .text {
  height: 37px;
  line-height: 34px;
  padding-left: 6px;
}
.tipsbox .describe {
  margin-left: 18px;
  color: #7f7f7f;
}
.tipsbox .content {
  width: 402px;
  height: 240px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}
.tipsbox .content .title {
  box-sizing: border-box;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #dfdfdf;
  padding-left: 10px;
}
.tipsbox .content.remove {
  border-color: #fff;
  width: 352px;
  height: 80px;
}
.tipsbox .content.remove .icon {
  float: left;
  width: 26px;
  height: 26px;
  margin: 18px 6px 0 32px;
  background-position: -105px -228px;
}
.tipsbox .content.remove .text {
  float: left;
  margin-top: 16px;
}
.tipsbox .content.remove .text-top {
  line-height: 24px;
  height: 24px;
  font-size: 16px;
}
.tipsbox .content.remove .text-bottom {
  line-height: 28px;
  height: 28px;
  color: #85848c;
}
.tipsbox .content.uploading {
  width: 402px;
  height: 39px;
}
.tipsbox .content.uploading .title-left {
  line-height: 37px;
  padding-left: 10px;
}
.tipsbox .content.uploading .uploading-nav {
  padding-left: 10px;
}
.tipsbox .content.uploading .title-right {
  width: 68px;
  height: 37px;
  border-left: 1px solid #dedede;
  line-height: 37px;
  text-align: center;
  cursor: pointer;
}
.tipsbox .listsbox {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
}
.tipsbox .listsbox .lists {
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.tipsbox .listsbox .list {
  height: 24px;
  line-height: 24px;
  cursor: pointer;
}
.tipsbox .listsbox .roll-box {
  width: 8px;
  height: 100%;
  background-color: #f4f5f7;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.tipsbox .listsbox .roll {
  width: 100%;
  height: 50px;
  background-color: #d7d8dd;
  position: absolute;
  left: 0;
  top: 0;
}
.tipsbox #tips-wy {
  padding-left: 3px;
}
.tipsbox .list:hover {
  background-color: #ecf5fc;
}
.tipsbox .list.checked {
  background-color: #ecf5fc;
}
.tipsbox .list.children .icon-bg {
  background-position: -299px -55px;
}
.tipsbox .icon-bg {
  width: 8px;
  height: 8px;
  background-position: -299px -38px;
  margin-top: 9px;
}
.tipsbox .icon-file {
  width: 20px;
  height: 18px;
  background-position: -270px -213px;
  margin: 3px 6px 3px 4px;
}
.tipsbox .btns {
  padding: 24px 0;
}
.tipsbox .tips-text {
  color: #ff433a;
  height: 36px;
  line-height: 36px;
  display: none;
}
.tipsbox .btn {
  width: 92px;
  height: 36px;
  box-sizing: border-box;
  border: 1px solid #c9c9c9;
  text-align: center;
  line-height: 34px;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 9px;
}
.tipsbox .btn.checked {
  background-color: #318ef6;
  border-color: #2c89f1;
  color: #fff;
}
.tipsbox .foot {
  width: 100%;
  height: 24px;
  background-color: #fce7bc;
  text-align: center;
  line-height: 24px;
  display: none;
}
.head-tips {
  position: absolute;
  top: 0;
  left: 42%;
  min-width: 224px;
  padding: 5px 10px;
  height: 30px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  z-index: 330;
  display: none;
}
.head-tips.fail {
  background-color: #f49918;
}
.head-tips.success {
  background-color: #eaffda;
  color: #000;
}
/*框选样式*/
.rect-box {
  position: absolute;
  background-color: #b5d6ee;
  opacity: .6;
  z-index: 220;
}
/*拖拽盒子的样式*/
.dragbox {
  position: absolute;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #1f91ea;
  background-color: #00aaff;
  color: #fff;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  display: none;
  z-index: 340;
}
.word-bg {
  background-position: -916px -423px;
}
.xlsx-bg {
  background-position: -935px -423px;
}
.image-bg {
  background-position: -802px -423px;
}
.audio-bg {
  background-position: -741px -544px;
}
.video-bg {
  background-position: -703px -544px;
}
.word {
  background-position: 0 -588px;
}
.xlsx {
  background-position: 0 -689px;
}
/*上传进度*/
.progress {
  display: flex;
}
.progressBar {
  width: 500px;
  height: 50px;
  border-radius: 20%;
  border: 1px solid #5099f4;
}
.hehe {
  width: 100%;
  height: 100%;
  overflow: auto;
}
/*点击回收站后的效果*/
.recycle .array-box,
.recycle #delete,
.recycle #renamebtn,
.recycle .checkAll,
.recycle #crumbsbox,
.recycle #movebtn {
  display: none;
}
.recycle #restore,
.recycle #obliterate,
.recycle .clearAll {
  display: block;
}
.recycle .box.lb .sharebg,
.recycle .box.lb .downloadbg,
.recycle .box.lb .movebg,
.recycle .box.lb .deletebg,
.recycle .box.lb .renamebg {
  display: none;
}
.recycle .box.lb .restorebg,
.recycle .box.lb .obliteratebg {
  display: block;
}
.recycle .contentbox {
  top: 0;
}
/*点击全部的效果*/
.all .array-box,
.all #delete,
.all #renamebtn,
.all .checkAll,
.all #crumbsbox,
.all .crumbs,
.all #movebtn {
  display: block;
}
.all #restore,
.all #obliterate,
.all .clearAll {
  display: none;
}
.all .box.lb .sharebg,
.all .box.lb .downloadbg,
.all .box.lb .movebg,
.all .box.lb .deletebg,
.all .box.lb .renamebg {
  display: block;
}
.all .box.lb .restorebg,
.all .box.lb .obliteratebg {
  display: none;
}
.all .contentbox {
  top: 0;
}
.video .crumbs,
.album .crumbs,
.audio .crumbs,
.video .array-box,
.album .array-box,
.audio .array-box {
  display: none;
}
.video .contentbox,
.album .contentbox,
.audio .contentbox {
  top: 20px;
}
.restsbg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 400;
  transform: scale(0);
  transition: 1s;
}
.restsbg .audiobg {
  display: none;
}
.restsbgbox {
  margin: auto;
  width: 600px;
  height: 400px;
  position: relative;
}
.restsbox .off {
  width: 50px;
  height: 50px;
  position: absolute;
  right: -100px;
  top: -50px;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
  transition: 1s;
  opacity: .5;
}
.restsbox .off:hover {
  opacity: 1;
}
.restsbg.image .restsbox {
  width: 600px;
  height: 400px;
  display: flex;
}
.restsbg.image .img {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.restsbg.audio .restsbox {
  text-align: center;
}
.restsbg.audio .audiobg {
  margin: 50px auto;
  width: 300px;
  height: 300px;
  display: block;
  border-radius: 50%;
  background: url(../img/yy.png) center top no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.7);
}
/*右键*/
.contextmenu-box {
  display: none;
  position: absolute;
  top: 200px;
  left: 300px;
  width: 160px;
  border: 1px solid #c8ccd5;
  box-shadow: 2px 2px 1px rgba(188, 188, 188, 0.8);
  background-color: #ffffff;
  z-index: 500;
}
.contextmenu-box .text {
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding-left: 10px;
}
.contextmenu-box .text:hover {
  background-color: rgba(59, 147, 255, 0.5);
  color: #fff;
}
