<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/public/css/disk.css" />
		<script src="/public/js/jquery.min.js"></script>
		<script src="/public/js/tools.js"></script>
		<script src="/public/js/view.js"></script>
		<script src="/public/js/model.js"></script>
		<script src="/public/js/disk.js"></script>
	</head>
	<body>
		<div class="wrapBox">
			<!--头部内容-->
			<header class="header">
				<nav class="clearfix nav">
					<h1 class="fl logo">
						<a class="ico logo-bg" href="index.html" >微云</a>
					</h1>
					
					<div class="clearfix array-box">
						<div id="view" class="fl array view">
							<div id="lb" class="box fl left">
								<span class="ico lbico"></span>
							</div>
							<div id="slt" class="box fl bg right">
								<span class="ico sltico"></span>
							</div>
						</div>
					</div>
					<div id="add" class="fr add">
						<div id="addbg" class="ico bg"></div>
						<div class="type">
							<div class="arrow">
								<div class="bj"></div>
							</div>
							<ul class="clearfix lists">
								<li class="fl list">
									<div class="icon scwj"></div>
									<span class="text">上传文件</span>
									<input id="file" class="filebg" type="file" multiple />
								</li>
								
								<li id="createfile" class="fl list">
									<div class="icon cjwjj"></div>
									<span class="text">创建文件夹</span>
								</li>
							</ul>
						</div>
					</div>
				</nav>
				<nav id="navigation" class="clearfix navigation">
					<h3 class="fl logo">
						<a class="ico logo-bg" href="index.html" >微云</a>
					</h3>
					<div id="cancel" class="fl text cancel">取消选择</div>
					<div class="fl selected">选择了<span id="checkednum"></span>项</div>
					<ul class="fr lists">
						<li id="movebtn" class="text">
							<span class="ico movebg"></span>
							<span>移动到</span>
						</li>
						<li id="renamebtn" class="text">
							<span class="ico renamebg"></span>
							<span>重命名</span>
						</li>
						<li id="delete" class="text">
							<span class="ico deletebg"></span>
							<span>删除</span>
						</li>
						<li id="restore" class="text">
							<span class="ico restorebg" ></span>
							<span>还原</span>
						</li>
						<li id="obliterate" class="text">
							<span class="ico obliteratebg"></span>
							<span>清除</span>
						</li>
					</ul>
				</nav>
				<div id="head-tips" class="head-tips"></div>
			</header>
			
			<!--内容部分-->
			<section class="wrapcontent">
				
				<!--左侧部分开始-->
				<nav class="nav">
					<div class="username">
						<div class="portrait">
							<img class="bg users" src="/public/img/1.gif" />
						</div>
						<div class="userinfo">
							<div class="arrow">
								<div class="bj"></div>
							</div>
							<div class="info">
								<div class="fl user">四叶的三叶草</div>
								<div id="off" class="fr off">
									<div class="icon"></div>
								</div>
							</div>
							<div class="members">
								<div class="fl text">开通会员，专享特权</div>
								<div class="fl member">
									<span>开通会员</span>
								</div>
							</div>
							<ul class="help">
								<li class="list">开启独立密码</li>
								<li class="list">帮助与反馈</li>
							</ul>
						</div>
					</div>
					<div class="navcontent">
						<dl class="news">
							<dt class="member">
								<span>项目描述</span>
							</dt>
							<!--<dd class="list">
								<span class="ico lately"></span>
								<a href="javascript:;">最近</a>
							</dd>-->
						</dl>
						<dl class="lists">
							<dt>
								<span>文件</span>
							</dt>
							<dd id="all" class="list checked">
								<span class="ico all"></span>
								<a href="javascript:;">全部</a>
							</dd>
							<dd id="album" class="list">
								<span class="ico image"></span>
								<a href="javascript:;">图片</a>
							</dd>
							<dd id="video" class="list">
								<span class="ico video"></span>
								<a href="javascript:;">视频</a>
							</dd>
							<dd id="audio" class="list">
								<span class="ico music"></span>
								<a href="javascript:;">音乐</a>
							</dd>
						</dl>
						<dl class="lists">
							<dt>
								<span>我的</span>
							</dt>
							<dd id="recycle" class="list">
								<span class="ico recycle"></span>
								<a href="javascript:;">回收站</a>
							</dd>
						</dl>
					</div>
				</nav>
				
				<!--右侧部分-->
				<section class="contentbox">
					<!--面包屑导航-->
					<nav id="crumbs" class="crumbs slt">
						<div id="checkAll" class="fl checkAll">
							<div class="ico fl"></div>
							<div class="fl bg"></div>
						</div>
						<div id="crumbsbox" class="fl lists">
							<div id="wy" class="fl list wy text">微云</div>
							<ul id="crumbslists" class="fl">
							</ul>
						</div>
						<div id="clearAll" class="fl clearAll">全部清空</div>
					</nav>
					
					<!--整体内容部分-->
					<div id="contentlist" class="contentlist slt">
						<div id="contentbg" class="contentbg">
							<div class="filebg"></div>
							<h2 class="text">暂无文件</h2>
							<p class="tips">请点击右上角的"添加"按钮添加</p>
						</div>
						<div id="contentArea" class="content-area lists">
							<ul id="content" class="clearfix content-box">
								<li id="1" class="box slt">
									<div class="fl ico folder"></div>
									<span class="fl text">练习</span>
									<div class="ico check"></div>
								</li>
							</ul>
							<ul id="rests" class="clearfix rests-box">
							</ul>
						</div>
						<div class="roll-box">
							<div class="roll"></div>
						</div>
					</div>
				</section>
			</section>
			<!--弹出层-->
			<div class="tipsbg">
				<div class="tipsbox">
					<header class="head">
						<h3 id="headtitle" class="fl title">选择存储位置</h3>
						<div id="tipsoff" class="ico fr tipsoff"></div>
					</header>
					<div class="clearfix box">
						<div class="top">
							<div class="ico file"></div>
							<div class="text">
								<div class="fl name">111</div>
								<div class="fl describe">等<span>12</span>个文件</div>
							</div>
						</div>
						<div class="content">
							<ul class="lists">
								<li class="list">
									<span class="icon icon-bg fl"></span>
									<span class="icon icon-file fl"></span>
									<span class="fl">文件</span>
								</li>
							</ul>
							<div class="roll-box">
								<div class="roll"></div>
							</div>
						</div>
						<div class="fr btns">
							<div class="fl tips-text">不能将文件移动到自身或其子文件夹</div>
							<div class="fl btn yes checked">确定</div>
							<div class="fl btn no">取消</div>
						</div>
					</div>
					<footer class="foot">
						严禁存储、处理、传输、发布任何涉密、色情、暴力、侵权等违法违规信息
					</footer>
				</div>
			</div>
			
			<!--拖拽出现的盒子-->
			<div class="dragbox">1</div>
			
			<!--音频、视频、图片弹出层-->
			<div class="restsbg">
				<div class="restsbgbox">
					<div class="audiobg"></div>
					<div class="restsbox">
						<div class="off">×</div>
						<!--<video class="video" width="600" controls></video>-->
						<!--<audio></audio>-->
					</div>
				</div>
			</div>
			
			<!--右键内容-->
			<div class="contextmenu-box">
				<ul class="contextmenu">
					<li class="text move">移动到</li>
					<li class="text rename">重命名</li>
					<li class="text remove">删除</li>
				</ul>
			</div>
		</div>
	</body>
</html>
