<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../public/css/dick.css" />
	</head>
	<body>
		<!--头部-->
		<header class="head">
			<a href="javascript:;" class="headleft"></a>
			<div class="headright">
				<div>
					<span class="bg"></span>
					<span class="text">会员中心</span>
				</div>
				<div>
					<span class="bg"></span>
					<span class="text">下载客户端</span>
				</div>
				<div>
					<span class="bg"></span>
					<span class="text">搜索全部文件</span>
				</div>
				<div class="user">
					<span class="namebg">
						<img src="../../public/img/2.png" />
					</span>
					<span class="bgx"></span>
				</div>
				<div class="userbox">
					<p class="username">
						<span>四叶的三叶草</span>
					</p>
					<ul>
						<li id="logout">
							<span>退出</span>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<!--头部结束-->
		
		<!--内容-->
		<section class="wrap clearfix">
			<!--左侧导航内容-->
			<nav class="wrapnav">
				<div class="uploading">
					<div>
						<span>+</span>
						<span>上传</span>
					</div>
					<input type="file" id="upload" class="upload" />
				</div>
				<div>
					<ul>
						<li id="disk" class="checkbox">
							<span class="ico-message"></span>
							<span class="ico">目录</span>
						</li>
						<li id="recent">
							<span class="ico-message"></span>
							<span>最近</span>
						</li>
					</ul>
				</div>
				<div>
					<ul>
						<li id="doc">
							<span class="ico-message"></span>
							<span>文档</span>
						</li>
						<li id="album">
							<span class="ico-message"></span>
							<span>图片</span>
						</li>
						<li id="audio">
							<span class="ico-message"></span>
							<span>音乐</span>
						</li>
						<li id="video">
							<span class="ico-message"></span>
							<span>视频</span>
						</li>
						<li id="note">
							<span class="ico-message"></span>
							<span>笔记</span>
						</li>
					</ul>
				</div>
				<div>
					<ul>
						<li id="clipboard">
							<span class="ico-message"></span>
							<span>剪贴板</span>
						</li>
					</ul>
				</div>
				<div>
					<ul>
						<li id="share">
							<span class="ico-message"></span>
							<span>分享的链接</span>
						</li>
						<li id="recycle">
							<span class="ico-message"></span>
							<span>回收站</span>
						</li>
					</ul>
				</div>
				<div class="correlation">
					<a href="">版权声明</a>
					<span></span>
					<a href="">投诉指引</a>
				</div>
			</nav>
			<!--左侧导航结束-->
			
			<!--右侧内容-->
			<div class="wrapright">
				<!--导航部分-->
				<div class="topnav">
					<ul class="left">
						<li class="list download">
							<span class="text">下载</span>
						</li>
						<li class="list share">
							<span class="text">分享</span>
						</li>
						<li id="moveBtn" class="list moveBtn">
							<span class="text">移动到</span>
						</li>
						<li id="replaceName" class="list replaceName">
							<span class="text">重命名</span>
						</li>
						<li id="removebtn" class="list removebtn">
							<span class="text">删除</span>
						</li>
						<li id="createfile" class="list createfile">
							<span class="text">新建文件夹</span>
						</li>
						<li id="renovate" class="list renovate"></li>
					</ul>
					<ul class="rigth">
						<li class="ico tupelo" id="tupelo"></li>
						<li class="ico sort-order" id="sort-order"></li>
					</ul>
				</div>
				<!--导航部分结束-->
				
				<!--内容部分-->
				<div class="wrapcontent clearfix">
					<ul class="directory">
						<li class="list">
							<span class="left icoI"></span>
							<span class="left bgI"></span>
							<span class="left text">微云</span>
						</li>
					</ul>
					<div class="wrapcontent-right">
						<div class="breadcrumbs_wrap">
							<span id="checkAll" class="checkAllI left"></span>
							<div class="color left" data-id="0">微云</div>
							<ul class="breadcrumbs left">
								<!--<li class="item">>>> 小说</li>-->
							</ul>
						</div>
						<ul class="contentbox clearfix">
							<li class="file hover">
								<span class="checkbox"></span>
					            <div class="image image-folder"></div>
					            <div class="name">妙味</div>
					            <!--<ul class="icos right">
									<li class="dw"></li>
									<li class="sh"></li>
									<li class="mt"></li>
									<li class="ni"></li>
									<li class="de"></li>
								</ul>
								<time>2016年7月26日</time>	-->
							</li>
						</ul>
					</div>
				</div>
				
			</div>
			
		</section>
		<!--内容结束-->
	</body>
	<script src="../../public/js/jquery.min.js"></script>
	<script src="../../public/js/dick.js"></script>
</html>
