<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../public/css/indexI.css" />
	</head>
	<body>
		<!--头部-->
		<header class="head">
			<a href="javascript:;" class="headleft"></a>
			<div class="headright">
				<div>
					<span class="bg"></span>
					<span class="text">会员中心</span>
				</div>
				<div>
					<span class="bg"></span>
					<span class="text">下载客户端</span>
				</div>
				<div>
					<span class="bg"></span>
					<span class="text">搜索全部文件</span>
				</div>
				<div class="user">
					<span class="namebg">
						<img src="../../public/img/2.png" />
					</span>
					<span class="bgx"></span>
				</div>
				<div class="userbox">
					<p class="username">
						<span>四叶的三叶草</span>
					</p>
					<ul>
						<li id="logout">
							<span>退出</span>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<!--头部结束-->
		
		<!--内容-->
		<section id="wrap" class="wrap clearfix">
			<nav class="wrapnav">
				<div class="uploading">
					<div>
						<span>+</span>
						<span>上传</span>
					</div>
					<input type="file" id="upload" />
				</div>
				<div>
					<ul>
						<li id="disk" class="checkbox">
							<span class="ico-message"></span>
							<span class="ico">目录</span>
						</li>
						<li id="recent">
							<span class="ico-message"></span>
							<span>最近</span>
						</li>
					</ul>
				</div>
				<div>
					<ul>
						<li id="doc">
							<span class="ico-message"></span>
							<span>文档</span>
						</li>
						<li id="album">
							<span class="ico-message"></span>
							<span>图片</span>
						</li>
						<li id="audio">
							<span class="ico-message"></span>
							<span>音乐</span>
						</li>
						<li id="video">
							<span class="ico-message"></span>
							<span>视频</span>
						</li>
						<li id="note">
							<span class="ico-message"></span>
							<span>笔记</span>
						</li>
					</ul>
				</div>
				<div>
					<ul>
						<li id="clipboard">
							<span class="ico-message"></span>
							<span>剪贴板</span>
						</li>
					</ul>
				</div>
				<div>
					<ul>
						<li id="share">
							<span class="ico-message"></span>
							<span>分享的链接</span>
						</li>
						<li id="recycle">
							<span class="ico-message"></span>
							<span>回收站</span>
						</li>
					</ul>
				</div>
				<div class="correlation">
					<a href="">版权声明</a>
					<span></span>
					<a href="">投诉指引</a>
				</div>
			</nav>
			<div class="wrapright">
				<div class="right">
					<div class="topnav">
						<ul class="left">
							<li>
								<span>下载</span>
							</li>
							<li>
								<span>分享</span>
							</li>
							<li id="moveBtn">
								<span>移动到</span>
							</li>
							<li id="replaceName">
								<span>重命名</span>
							</li>
							<li id="removebtn">
								<span>删除</span>
							</li>
							<li id="createfile">
								<span>新建文件夹</span>
							</li>
							<li></li>
						</ul>
						<ul class="rigth">
							<li class="ico" id="tupelo"></li>
							<li class="ico" id="">
								<span></span>
								<!--<ul>
									<li>按字母排序</li>
								</ul>-->
							</li>
						</ul>
					</div>
					<div class="wrapcontent clearfix">
						<ul id="directory" class="directory">
							<li>
								<div>
									<span class="icoI"></span>
									<a href="javascript:;" fileId="0">微云</a>
								</div>
								<!--<ul>-->
									<!--<li>
										<div id="1">
											<span class="icoII"></span>
											<a href="javascript:;" >照片</a>
										</div>
										<ul></ul>
									</li>
									<li>
										<div id="4">
											<span class="icoII"></span>
											<a href="javascript:;" >游戏</a>
										</div>
									</li>-->
								<!--</ul>-->
							</li>
						</ul>
						<div id="wrapcontent-right" class="content2">
							<div class="crumbs ">
								<span id="checkAll" class="checkAllI"></span>
								<a href="javascript:;" data-id="0" class="color" >微云</a>
								<ul id="crumbsnav">
									<!--<li>
										<span>>>></span>
										<a href="javascript:;" dataId="0">小说</a>
									</li>
									<li>
										<span>>>></span>
										<a href="javascript:;" dataId="0">小说</a>
									</li>-->
								</ul>
								<div id="move-box" class="move-box clearfix">
									<div>
										<span id="dragnum">1</span>
									</div>
									<ul id="drag">
									<!--	<li></li>-->
									</ul>
								</div>
							</div>
							<div id="box" class="box clearfix">
								<ul id="boxinner" class="boxinner clearfix">
									<!--<li class="file hover">
							            <span class="checkbox"></span>
							            <div class="image image-folder"></div>
							            <div class="name">妙味</div>
							       </li>-->
								</ul>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</section>
		<div id="removetips" class="tips removetips">
			<p>小主，你确定要删除选中的这N项内容吗？</p>
			<div>
				<span>确定</span>
				<span>取消</span>
			</div>
		</div>
		<div id="movetips" class="tips movetips">
			<h3 class="title">
				<span>选中存储位置</span>
				<span>×</span>
			</h3>
			<div>
				<header class="head">
					<div class="bg image-folder"></div>
					<div>文件夹名称</div>
				</header>
				<div class="movebox">
					<header class="boxhead">
						<div>移动到：</div>
						<div>文件夹名称</div>
					</header>
					<div class="content">
						<ul id="movecontent" class="wI">
							<li>
								<div>
									<span class="icoI"></span>
									<a href="javascript:;" fileId="0">微云</a>
								</div>
								<!--<ul>-->
									<!--<li>
										<div id="1">
											<span class="icoII"></span>
											<a href="javascript:;" >照片</a>
										</div>
										<ul></ul>
									</li>
									<li>
										<div id="4">
											<span class="icoII"></span>
											<a href="javascript:;" >游戏</a>
										</div>
									</li>-->
								<!--</ul>-->
							</li>
						</ul>
						<div id="scroll">
							<span></span>
						</div>
					</div>
				</div>
				<footer class="foot">
					<div>不能移动到自身及子文件夹内</div>
					<span class="yes">确定</span>
					<span>取消</span>
				</footer>
			</div>
		</div>
		<ul id="contextmenu">
			<li>删除</li>
			<li>移动到</li>
			<li>重命名</li>
		</ul>
		<div id="zzc"></div>
	</body>
	<script src="../../public/js/jquery.min.js"></script>
	<script src="../../public/js/dick.js"></script>
</html>
